streamlit  # Or any compatible version
tensorflow==2.13.0  # Or any compatible version
keras==2.11.0  # Or any compatible version
numpy==1.24.1  # Or any compatible version
Pillow==9.2.0  # Or any compatible version
opencv-python==4.6.0.66  # Or any compatible version
joblib==1.2.0  # Or any compatible version
